################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bivt-18/.vs/Bivt-18/v16
/Bivt-18/CalcArea/obj
/Bivt-18/CalcArea/bin/Debug/netcoreapp3.1
